
<h1>Thanks for booking!</h1>

<p>The booking is for <%= @booking.user_party_size %> people </p>
<p>The booking is on <%= @booking.slot.start_time.strftime("%e %B") %> from <%= @booking.slot.start_time.strftime("%H:%M")%> to <%= @booking.slot.end_time.strftime("%H:%M") %> </p>


<%= link_to "Cancel", activity_booking_path(@booking),  class: "btn btn-warning", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
