<div class="container">
  <h1>Thanks for booking!</h1>
  <div class="booking-card-show">
    <p><%= @booking.slot.activity.name %></p>
    <p>The booking is for <%= @booking.user_party_size %> people </p>
    <p>The booking is on <%= @booking.slot.start_time.strftime("%e %B") %> from <%= @booking.slot.start_time.strftime("%H:%M")%> to <%= @booking.slot.end_time.strftime("%H:%M") %> </p>
  </div>
</div>
