<div class="booking-show-container">
  <h2>Thanks for choosing OutNAbout!</h2>
  <h4 class="bookingconfirm">Your booking is confirmed!</h4>
  <div class="booking-card-show">
    <h1><%= @booking.slot.activity.name %></h1>
    <p>The booking is for <%= @booking.user_party_size %> people </p>
    <p>The booking is on <%= @booking.activity_date.strftime("%e %B") %> from <%= @booking.slot.start_time.strftime("%H:%M")%> to <%= @booking.slot.end_time.strftime("%H:%M") %> </p>
  </div>
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
</div>
