<div class="hero">
  <div class="container">
    <h1 class="banner-slogan">London has a lot to offer</h1>
    <p>Create meaningful memories by discovering new experiences all over London</p>
    <%= link_to "Explore", all_activities_path, class: "btn btn-light"%>
  </div>
</div>
<div class="container">
<div class="home-content">

  <h1>Recently Added</h1>
    <ul>
      <% @activities.each do |a| %>
        <div class="card" style="width: 18rem;" onclick="this.querySelector('a').click(); return true;">
          <div class="card-body">
            <div class = "card-price-box">
              <h5 class="card-title"><%= link_to a.name.capitalize, activity_path(a.id), style: "text-decoration:none; color:black;"%></h5>
              <p class="price-tag">$<%= a.price %>/person</p>
            </div>
            <h6 class="card-subtitle mb-2 text-muted"><%= a.venue.name %> </h6>
            <p class="card-text"><%= a.venue.address %></p>
          </div>
          <div class="contentBx">
            <h2><%=a.name%></h2>
              <div class="size">
              <h3>Address :</h3>
              <span><%= a.venue.address %></span>
            </div>
            <div class="color">
              <h3>Description :</h3>
              <span><%= a.description %></span>
            </div>
            <%= link_to "Book",  new_activity_booking_path(a.id), class:"btn btn-primary"%>
         </div>
       </div>
      </div>
    <% end %>
  </ul>
</div>
