<%= render "shared/search" %>

<div class="hero">
  <h1 id="logo">O&A</h1>
  <div class="hero-text">
    <h1 class="banner-slogan">Hello <%= current_user.first_name %>!</h1>
    <p>London has a lot to offer</p>
      <%# <%= link_to "Explore", all_activities_path, class: "btn btn-light"%>
  </div>
</div>
<div class="home-boxes">
  <div class="venue-box">
    <%= link_to all_activities_path do %>
      <i class="bi bi-pin-map"></i>
    <% end %>
    <p class="box-text">Activities</p>
  </div>
  <div class="venue-box">
    <%= link_to all_activities_path do %>
      <i class="bi bi-pin-map"></i>
    <% end %>
    <p class="box-text">Venues</p>
  </div>
</div>
<div class="container">
    <% @venues.each do |v| %>
      <div class="cards row">
        <div class="col-6 portada">
        </div>
        <div class="col-6">
          <div class="title-total">
            <div class="title"><%= v.name %></div>
              <% v.activities.each do |a|  %>
                    <h2><%= a.name %></h2>
                    <div class="desc"><%= a.description %>
                    </div>
                  <% end %>
                  <div class="actions">
                    <button><i class="far fa-heart"></i></button>
                    <button><i class="far fa-envelope"></i></button>
                    <button><i class="fas fa-user-friends"></i></button>
                  </div>
            </div>
        </div>

        </div>
      </div>
    <% end %>
</div>
