
<%= render "shared/search" %>
<div class="hero">
  <h1 class="logo-home"><%= link_to "O&A", root_path %></h1>
  <div class="hero-text">
    <% if user_signed_in? %>
      <h1 class="banner-slogan">Hello <%= current_user.first_name %>!</h1>
    <% else %>
      <h1 class="banner-slogan">Out N' About</h1>
      <h1 class="logo"><%= link_to "O&A", root_path %></h1>
    <% end %>
    <p>Discover what the world has to offer</p>
      <%# <%= link_to "Explore", all_activities_path, class: "btn btn-light"%>
  </div>
</div>
<div class="home-boxes">
  <div class="venue-box">
    <%= link_to all_activities_path do %>
      <i class="bi bi-people"></i>
    <% end %>
    <p class="box-text">Activities</p>
  </div>
  <div class="venue-box">
    <%= link_to venues_path do %>
      <i class="bi bi-pin-map"></i>
    <% end %>
    <p class="box-text">Venues</p>
  </div>
</div>

<div class="container home-cards-container">
  <h2 style="position: absolute;top: -30px;font-size: 22px;color: #383838;">Popular Activities</h2>
  <div class="scrollmenu">
    <% @activities.shuffle.each do |a| %>
        <div class="card-new" onclick="this.querySelector('a').click(); return true;">
          <div class="before-line">
            <div class="name-image">
              <img src="<%= a.photo.attached? ? (cl_image_path a.photo.key) : 'https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg'%>">
                <div class="home-card-top">
                  <h2><%= link_to a.name, activity_path(a.id), style:"text-decoration:none; color:white;"%></h2>
                  <h5><%= a.venue.name %></h5>
                </div>
            </div>
            <hr>
          </div>
          <div class="card-deets">
            <div class="deet">
              <p class="card-new-address"><i class="bi bi-pin-map"></i> <%= a.venue.address %></p>
            </div>
          </div>
          <div class="card-price">
            <p class="card-new-price">£<%= a.price %></p>
          </div>
        </div>
      <% end %>
  </div>


  <div class="activities-scroll">
    <h2 style="position: absolute;top: -30px;font-size: 22px;color: #383838;">Bowling</h2>
    <div class="scrollmenu">
      <% @activities.shuffle.each do |a| %>
        <div class="card-new" onclick="this.querySelector('a').click(); return true;">
          <div class="before-line">
            <div class="name-image">
              <img src="<%= a.photo.attached? ? (cl_image_path a.photo.key) : 'https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg'%>">
                <div class="home-card-top">
                  <h2><%= link_to a.name, activity_path(a.id), style:"text-decoration:none; color:white;"%></h2>
                  <h5><%= a.venue.name %></h5>
                </div>
            </div>
            <hr>
          </div>
          <div class="card-deets">
            <div class="deet">
              <p class="card-new-address"><i class="bi bi-pin-map"></i> <%= a.venue.address %></p>
            </div>
          </div>
          <div class="card-price">
            <p class="card-new-price">£<%= a.price %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
