
<div class="profile-container">
  <% if user_signed_in? %>
    <div class="profile-top">
      <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
      <h3><%= current_user.email %></h3>
      <p>Member since <%= current_user.created_at.strftime("%d-%m-%Y") %></p>
      <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary" %>
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class:"btn btn-secondary" %>
    </div>
    <hr>
    <div>
      <div class="profile-h1">
        <div style="display:flex; justify-content:space-between; width:100%;">
          <h3>My Venues</h3>
          <div>
            <%= link_to "Add Venue", new_venue_path, class:"btn btn-primary", style:"border-radius:5px;font-size: 10px;"%>
          </div>
        </div>
      </div>
      <% @venues.each do |v| %>
        <div class="card-trip" onclick="this.querySelector('a').click(); return true;">
          <img src="<%= v.photo.attached? ? (cl_image_path v.activities.first.photo.key) : 'https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg'%>" />
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to v.name, venue_path(v.id) %></h2>
              <p><%= v.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="register-buttons">
      <%= link_to "Login", new_user_session_path, class:"btn btn-primary"  %>
      <br>
      <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-secondary" %>
    </div>
  <% end %>
</div>
