<div class="container">
  <%= simple_form_for @venue do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.button :submit, 'Edit Venue', class:"btn btn-primary" %>
  <% end %>
</div>
