
<div class="venue-new-container">

  <h1><strong>New Venue</strong></h1>
  <div class="new-venue-form">
    <%= simple_form_for @venue do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.button :submit, 'Create Venue', class:"btn btn-light" %>
    <% end %>
  </div>
</div>
