<div class="venue-show-container">
  <div class="show-page-headers">
    <div class="venue-show-cards">
      <h1><%= @venue.name %></h1>
      <p><%= @venue.description %></p>
      <h5><%= @venue.address %></h5>
    </div>
    <div class="venue-show-button">
      <% if @venue.user.id == current_user.id %>
        <%= link_to "Delete", @venue, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <%= link_to "Edit", edit_venue_path(@venue.id), class:"btn btn-warning" %>
        <%= link_to "Add Activity", new_venue_activity_path(@venue.id), class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <hr>
  <h1>Activities at <%= @venue.name %></h1>
  <% @activity = Activity.where(venue: @venue.id) %>
  <div class="activity-indside-venue-show", onclick="this.querySelector('a').click(); return true;">
    <% @activity.each do |a| %>
      <h5><%= link_to a.name, activity_path(a.id)%></h5>
      <p>- <%= a.description %></p>
    <% end %>
  </div>
</div>
