<div class="container">
  <div class="show-page-headers">
    <div>
      <h1><%= @venue.name %></h1>
      <h4><%= @venue.description %></h4>
      <h5><%= @venue.address %></h5>
    </div>
    <div>
      <% if @venue.user.id == current_user.id %>
        <%= link_to "Delete", @venue, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <%= link_to "Edit", edit_venue_path(@venue.id), class:"btn btn-warning" %>
        <%= link_to "Add Activity", new_venue_activity_path(@venue.id), class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <hr>
  <% @activity = Activity.where(venue: @venue.id) %>
  <ul>
    <% @activity.each do |a| %>
      <h5><%= link_to a.name, activity_path(a.id)%></h5>
      <p>- <%= a.description %></p>
    <% end %>
  </ul>
</div>
