<div class="activity-show-container">
  <h1><strong><%= @activity.name.capitalize %></strong> at <%= @activity.venue.name %></h1>
  <div class="activity-show-margin">
    <h5><%= @activity.venue.address %> (<%= @activity.operational_start_time.strftime("%I:%M%p")%> - <%= @activity.operational_end_time.strftime("%I:%M%p") %>)</h5>
    <h4> £<%= @activity.price %>/person</h4>
    <br>
    <div class="activity-show-image">
      <% if @activity.photo.present? %>
      <%= cl_image_tag @activity.photo.key, crop: :fill %>
      <% end %>
    </div>

    <h5>Description</h5>
    <p><%= @activity.description %></p>
    <br>
    <h5>About <%= @activity.venue.name %></h5>
    <p><%= @activity.venue.description %></p>
  </div>

  <%= link_to "Back", root_path, class: "btn btn-dark" %>

  <% if current_user && current_user == @activity.venue.user %>
    <%= link_to "Delete", @activity, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <%= link_to "Edit", edit_activity_path, class: "btn btn-warning" %>
  <% end %>

  <div class="container-form-booking">
    <% if current_user != @activity.venue.user %>
    <%= simple_form_for [@activity, @booking] do |f| %>
    <%= f.input :activity_date, as: :string, input_html: {type: :date}%>
    <%= f.association :slot, label: 'Please choose a time slot', label_method: :slot_time, value_method: :id, collection: @slots_available  %>
    <%# <% f.input :activity, as => :hidden, :input_html => { :value => @activity.current_user.slots.pluck(:activity_id).uniq} %>
    <%= f.input :user_party_size, label: 'Please choose a party size', as: :integer %>
    <%= f.button :submit, 'Book', class:"btn btn-light" %>
    <% end %>
    <% end %>
  </div>

</div>
