<div class="container">
  <h1><%= @activity.name.capitalize %> - <%= @activity.venue.name %></h1>
  <h3><%= @activity.venue.address %> (<%= @activity.operational_start_time.strftime("%I:%M%p")%> - <%= @activity.operational_end_time.strftime("%I:%M%p") %>)</h3>
  <h3> $<%= @activity.price %>/person</h3>
  <br>
  <%= cl_image_tag @activity.photo.key, crop: :fill %>

  <h5>Description</h5>
  <p><%= @activity.description %></p>
  <br>
  <h5>About <%= @activity.venue.name %></h5>
  <p><%= @activity.venue.description %></p>
  <%= link_to "Back", root_path, class: "btn btn-dark" %>
  <% if current_user != @activity.venue.user %>
    <%= link_to "Book", new_activity_booking_path(@activity) %>
  <% end %>
  <% if current_user && current_user == @activity.venue.user %>
    <%= link_to "Delete", @activity, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <%= link_to "Edit", edit_activity_path, class: "btn btn-warning" %>
  <% end %>
</div>
